<div>
    <input id="Summary" placeholder="Summary"/>
    <input id="Description" placeholder="Description"/>
    <input id="ImageLink" placeholder="Image Link"/>
    <input id="Price" placeholder="Price" type="number"/>
    <input id="DateStart" placeholder="Date Start" type="date"/>
    <input id="TimeStart" placeholder="Time Start" type="time"/>
    <input id="DateEnd" placeholder="Date End" type="date"/>
    <input id="TimeEnd" placeholder="Time End" type="time"/>
    <button onclick="Save()">Save</button>
</div>


<script>
    function Save(){
        let xhr = new XMLHttpRequest();
        let url = {{.URL}}
        xhr.open("POST", `${url}/events`);
        let body = {
            summary: document.getElementById("Summary").value,
            description: document.getElementById("Description").value,
            startTime: document.getElementById("DateStart").value+"T"+document.getElementById("TimeStart").value+":00",
            endTime: document.getElementById("DateEnd").value+"T"+document.getElementById("TimeEnd").value+":00",
            price: parseFloat(document.getElementById("Price").value) ,
            imageLink: document.getElementById("ImageLink").value
        }
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify(body));

        xhr.onload = () => {console.log(xhr.response)}
    }
</script>